#layout[type=sidepanel] {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(60vw , 1fr));
    grid-template-rows: 2fr;
    grid-gap: 20px;
};

#header {
    grid-column: 1 / -1;
    grid-row: 1;
}

#body {
    transform: translateY(80px);
    grid-column: 1;
    grid-row: 2;
    // mix-blend-mode: luminosity;
}

#sidepanel {
    transform: translateY(80px);
    grid-column: 2;
    grid-row: 2;
}