<!-- <ng-container *ngIf="sidebar == true ; then template"></ng-container> -->
<main id="layout" type="sidepanel">
<section id="header" class="">
  <nav>
    <ul>
      <app-logo id="catalystLogo"></app-logo>
      <li>
        <a href="" routerLink="/list-designer">Who we are</a>
      </li>
      <li>
        <a href="" routerLink="/list-designer">Around the world</a>
      </li>
      <li>
        <li>
          <a href="" routerLink="/create" routerLinkActive="active">+</a>
        </li>
        <button class="button" (click)="newBarValue()">Search</button>
    </ul>
  </nav>
</section>
  <section id="body">
    <router-outlet>
      <!-- <app-list (sidePanelEvent)="receiveSidePanel($event)"></app-list> -->
    </router-outlet>
  </section>
  <aside id="sidepanel" *ngIf="sidePanel">
    <button (click)="closeSidepanel()">X</button>
  </aside>
</main>