<!-- <ng-container *ngIf="sidebar == true ; then template"></ng-container> -->
<main id="layout" type="sidepanel">
<section id="header" class="">
  <nav>
    <ul>
      <app-logo id="catalystLogo"></app-logo>
      <li>
        <a href="" routerLink="/list-designer">Who we are</a>
      </li>
      <li>
        <a href="" routerLink="/list-designer">Team map</a>
      </li>
      <li>
        <a href="" routerLink="/list-designer">Team dashboard</a>
      </li>
      <li>
        <button *ngIf="!searchBar" class="button" (click)="newBarValue()">Search</button>
        <button *ngIf="searchBar" class="button" (click)="hideSearchBar()">Stop searching</button>
        <button class="button" (click)="goCreateDesigner()">+</button>
    </ul>
  </nav>
</section>
  <section id="body">
    <app-list (sidePanelEvent)="receiveSidePanel($event)"></app-list>
  </section>
  <aside id="sidepanel" *ngIf="sidePanel">
    <button (click)="closeSidepanel()">X</button>
    <router-outlet>
    </router-outlet>
  </aside>
</main>